.faq{
    margin-top: 100px;
    margin-bottom: 100px;
}

.faq__logo{
    text-align: center ;
    margin-bottom: 40px;
}

.faq__logo > img{
    width: 250px;
}

.faq__body{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.faq__header{
    margin-bottom: 50px;

}

.faq__title{
    font-size: 28px;
}

