.home__body{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.home__rowTop{
    display: flex;
    justify-content: space-between;
}

.home__row{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.home__row::-webkit-scrollbar {
    display: none;
  }

.home__category-image{
    width: 100%;
    filter:brightness(75%);
    object-fit: contain;
 
}

.home__category:nth-child(even){
    margin-left: 10px;
    margin-right: 10px;
}

.home__category{
    position: relative;
    width: 100%;
}

.home__category p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 1.5px;
    font-size: 25px;
    font-weight: 600;
    z-index: 1
}

.home__category:hover{
    opacity: 0.5;
    cursor: pointer;
}

.home__preview{
    margin-top: 45px;
    margin-bottom: 90px;
}

.home__preview-title > p{
    font-size: 22px;
}

.home__preview-title p:last-child{
    font-size: 14px;
}

.home__preview-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__preview-link{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: all .3s;
}

.home__preview-link:hover{
    background-color: black;
    color:white;
}

@media (max-width: 480px){
    .home__category p{
        font-size: 25px;
    }

    .home__preview{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .home__rowTop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home__category:not(last-child){
        margin-bottom: 10px;
    }

}