.checkoutItem{
    display: flex;
    border-bottom: 1px solid #ededed;
}

.checkoutItem__image{
    width: 200px;
}

.checkoutItem__button{
    cursor: pointer;
    font-size: 12px;
    transition: all 0.2s;
}

.checkoutItem__quantity--right,
.checkoutItem__quantity--left{
    cursor: pointer;
}

.checkoutItem__quantity--right:hover,
.checkoutItem__quantity--left:hover{
    font-weight: 500;
}

.checkoutItem__button:hover{
    font-weight: 500;
}

.checkoutItem__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.checkoutItem__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1
}

@media (max-width: 480px){
    .checkout__body{
        width: 95%;
    }

    .checkout__title{
        text-align: center;
    }

    .checkoutItem__right{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        flex: 1;
        height: 120px;
        margin-top: auto;
        margin-bottom: auto;
    }

}
