.privacy{
    margin-top: 100px;
    margin-bottom: 100px;
}

.privacy__body{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.privacy__header{
    margin-bottom: 50px;

}

.privacy__title{
    font-size: 35px;
}

.privacy__paragraph{
    background-color: #F7F7F7;
    padding: 60px;
    font-size: 14px;
    line-height: 145%;
}

.privacy__heading{
    font-size: 24px;
    margin-bottom: 20px;
}

.privacy__paragraph p{
    margin-bottom: 20px;
    
}

.privacy__subheading{
    margin-top: 50px;
}

@media (max-width: 480px){
    .privacy__body{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .privacy__paragraph{
        padding: 30px;
        font-size: 12px;
    }

    .privacy__title{
        font-size: 25px;
        text-align: center;
    }

    .privacy__heading{
        font-size: 20px;
    }



}