.item{
    display: flex;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
    flex-wrap: wrap;

}

.item__sectionLeft{
   flex: 0.5;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
}

.item__sectionRight{
    flex: 0.5 ;
    max-width: 600px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px;
 }

 .item__title{
     font-size: 35px;
 }

 .item__color{
    font-size: 18px;
    margin-top: 30px;
 }

 .item__price{
     margin-top: 20px;
     font-size: 20px;
     padding-bottom: 20px;
     border-bottom: 1px solid rgba(189, 189, 189, 0.406)
 }

 .item__button{
    color:white;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    border:none;
    width: 100%;
    margin-top: 30px;
    font-size: 18px;
    transition: all .2s;
 }

 .item__button:hover{
     color:black;
     background-color: white;
     border: 1px solid black;
     cursor: pointer;
 }

 .item__label{
     margin-right: 10px;
     font-size: 18px;
 }

 .item__select{
     font-size: 14px;
     width: 50px;
     margin-top: 30px;
     padding: 2px
     
 }

 .item__select:focus{
   outline: none;
    
}

.item__link{
    margin-top: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 13px; 
}

@media (max-width: 480px){
    .item{
        display: flex;
        
    }

    .item__image{
        width: 310px;
    }

    .item__sectionRight{
        min-width: 310px;
    }
}