.home__body{
    padding: 20px
}

.home__category{
    display: flex;
    justify-content: space-evenly;
}

.home__categoryOne,
.home__categoryTwo,
.home__categoryThree{
    position: relative;
}

.home__categoryOne:hover,
.home__categoryTwo:hover,
.home__categoryThree:hover{
    opacity: 0.5;
    cursor: pointer;
}

.home__category img{
    filter: brightness(70%);
}

.home__categoryContents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.home__categoryContents p{
    font-size: 25px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
}
