.home__body{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.home__row{
    display: flex;
    justify-content: center;
}

.home__category img{
    width: 100%;
    filter:brightness(75%);
    object-fit: contain;
 
}

.home__category:nth-child(even){
    margin-left: 10px;
    margin-right: 10px;
}

.home__category{
    position: relative;
    width: 100%;
}

.home__category p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 1.5px;
    font-size: 25px;
    font-weight: 600;
    z-index: 1
}

.home__category:hover{
    opacity: 0.5;
    cursor: pointer;
}
