.about{
    margin-top: 100px;
    margin-bottom: 100px;
}

.about__body{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.about__header{
    margin-bottom: 50px;

}

.about__title{
    font-size: 35px;
}

.about__paragraph{
    background-color: #F7F7F7;
    padding: 60px;
    line-height: 145%;
}

ul{
    list-style-type:none
}

.about__paragraph p:not(:first-child),
.about__paragraph ul{
    margin-top: 8px;
}

.about__paragraph p{
    margin-bottom: 15px;
}

@media (max-width: 767px){
    .about__body{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .about__paragraph{
        padding: 30px;
        font-size: 12px;
    }

    .about__title{
        font-size: 25px;
        text-align: center;
    }
}