.footer{
    background-color: black;
    margin-top: 20px;
    padding-top: 50px;
}

.footer__topSection{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.footer__contact h4,
.footer__support h4,
.footer__about h4{
    margin-bottom: 25px;
    color: white;
    font-weight: 400;
    
}

.footer__link{
    text-decoration: none;
}

.footer__contact p,
.footer__support p,
.footer__about p{
    margin-bottom: 15px;
    color: rgb(128, 128, 128);
    font-size: 13px;
}

.footer__bottomSection{
    text-align: center;
    color:rgb(128, 128, 128);
    border-top: 1px solid rgba(128, 128, 128, 0.44);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px
}

@media (max-width: 767px){
    .footer__topSection{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer__contact h4,
    .footer__support h4,
    .footer__about h4{
        margin-bottom: 25px;
        
    }

    .footer__support h4,
    .footer__about h4{
        margin-top: 20px;
    }
    

}