.collectionsPreview{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
}

.collectionPreview__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px
}

.collectionPreview__heading > p{
    font-size: 22px;
}

.collectionPreview__link{
    font-size: 12px;
    margin-right: 60px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.collectionsPreview__row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 45px;
}

