.collectionsPreview{
    display:flex;
    flex-direction: column;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.55%;
}

.collectionPreview__heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 5px;
}

.collectionPreview__heading > p{
    font-size: 24px;
}

.collectionPreview__link{
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    transition: all .3s;
}

.collectionPreview__link:hover{
    background-color: black;
    color: white;
}

.collectionsPreview__row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media (max-width: 480px){
    .collectionPreview__heading{
        margin-top: 30px;
    }

}