.collectionsOverview{
    display:flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.collectionsOverview > img{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 480px){
    .collectionsOverview > img{
        width: 800px;
    }

}