.header{
    font-size: 14px;
}

.header__SectionOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header__logo{
    width: 200px;
    height: 50px;
    margin-left: -33px;
    object-fit: contain;
}

.header__cartIcon{
    display: flex;
    align-items: center;
}

.header__SectionTwo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header__link{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: all .3s;
}

.header__link:hover{
    background-color: black;
    color: white;
}

.header__navs .header__link:not(:last-child){
    margin-right: 20px;
}

.header__navs{
    padding-left: 20px;
}

.header__login{
    padding-right: 20px;
}







